<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.premiersolutionshi.report.dao.StatusReportDao">
  <resultMap type="StatusReport" id="statusReportResult">
    <id property="id" column="status_report_pk"/>
    <result property="statusReportTypeCode" column="sr_status_report_type_code"/>
    <result property="projectName" column="sr_project_name"/>
    <result property="contractFk" column="sr_contract_fk"/>
    <result property="reportStartDate" column="sr_report_start_date"/>
    <result property="reportEndDate" column="sr_report_end_date"/>
    <result property="organizationFk" column="sr_organization_fk"/>
    <result property="contractorOrgFk" column="sr_contractor_org_fk"/>
    <result property="name" column="sr_name"/>
    <result property="projectManager" column="sr_project_manager"/>
    <result property="contractingOfficerCotr" column="sr_contracting_officer_cotr"/>
    <result property="contractingOfficerCor" column="sr_contracting_officer_cor"/>
    <result property="objective" column="sr_objective"/>
    <result property="summary" column="sr_summary"/>
    <result property="createdByFk" column="sr_created_by_fk"/>
    <result property="createdDate" column="sr_created_date"/>
    <result property="lastUpdatedByFk" column="sr_last_updated_by_fk"/>
    <result property="lastUpdatedDate" column="sr_last_updated_date"/>
    <result property="createdBy" column="sr_created_by"/>
    <result property="lastUpdatedBy" column="sr_last_updated_by"/>
    <association property="contract" notNullColumn="c_contract_pk"
      resultMap="com.premiersolutionshi.report.dao.ContractDao.contractResult"/>
    <association property="organization" notNullColumn="organization_pk"
      resultMap="com.premiersolutionshi.common.dao.OrganizationDao.simpleOrganizationResult"/>
    <association property="contractorOrg" columnPrefix="co_" notNullColumn="organization_pk"
      resultMap="com.premiersolutionshi.common.dao.OrganizationDao.simpleOrganizationResult"/>
    <collection property="contractList" notNullColumn="c_contract_pk" columnPrefix="list_"
      resultMap="com.premiersolutionshi.report.dao.ContractDao.simpleContractResult"/>
  </resultMap>

  <sql id="contractListColumns">
    clist.contract_pk AS list_c_contract_pk,
    clist.contract_number AS list_c_contract_number,
    clist.name AS list_c_name,
    clist.organization_fk AS list_c_organization_fk,
    strftime('%Y-%m-%d %H:%M:%f', clist.start_date) AS list_c_start_date,
    strftime('%Y-%m-%d %H:%M:%f', clist.end_date) AS list_c_end_date
  </sql>

  <sql id="columns">
    status_report_pk,
    sr.status_report_type_code AS sr_status_report_type_code,
    sr.project_name AS sr_project_name,
    sr.contract_fk AS sr_contract_fk,
    strftime('%Y-%m-%d %H:%M:%f', sr.report_start_date) AS sr_report_start_date,
    strftime('%Y-%m-%d %H:%M:%f', sr.report_end_date) AS sr_report_end_date,
    sr.organization_fk AS sr_organization_fk,
    sr.contractor_org_fk AS sr_contractor_org_fk,
    sr.name AS sr_name,
    sr.project_manager AS sr_project_manager,
    sr.contracting_officer_cotr AS sr_contracting_officer_cotr,
    sr.contracting_officer_cor AS sr_contracting_officer_cor,
    sr.objective AS sr_objective,
    sr.summary AS sr_summary,
    sr.created_by_fk AS sr_created_by_fk,
    strftime('%Y-%m-%d %H:%M:%f', sr.created_date) AS sr_created_date,
    sr.last_updated_by_fk AS sr_last_updated_by_fk,
    strftime('%Y-%m-%d %H:%M:%f', sr.last_updated_date) AS sr_last_updated_date,
    sr_cbu.first_name || ' ' || sr_cbu.last_name AS sr_created_by,
    sr_lubu.first_name || ' ' || sr_lubu.last_name AS sr_last_updated_by
  </sql>

  <sql id="contractingOrgColumns">
    co.organization_pk AS co_organization_pk,
    co.name AS co_o_name,
    co.address_1 AS co_o_address_1,
    co.address_2 AS co_o_address_2,
    co.city AS co_o_city,
    co.zip AS co_o_zip,
    co.state_province AS co_o_state_province,
    co.country AS co_o_country,
    co.email AS co_o_email,
    co.url AS co_o_url,
    co.phone AS co_o_phone,
    co.fax_number AS co_o_fax_number,
    co.notes AS co_o_notes,
    co.primary_poc_fk AS co_o_primary_poc_fk,
    co.project_fk AS co_o_project_fk,
    co.created_by_fk AS co_o_created_by_fk,
    strftime('%Y-%m-%d %H:%M:%f', co.created_date) AS co_o_created_date,
    co.last_updated_by_fk AS co_o_last_updated_by_fk,
    strftime('%Y-%m-%d %H:%M:%f', co.last_updated_date) AS co_o_last_updated_date,
    NULL AS co_o_created_by,
    NULL AS co_o_last_updated_by
  </sql>

  <sql id="baseSelect">
    SELECT
      <include refid="columns" />,
      <include refid="com.premiersolutionshi.report.dao.ContractDao.columns" />,
      <include refid="com.premiersolutionshi.common.dao.OrganizationDao.columns" />,
      <include refid="contractingOrgColumns" />,
      <include refid="contractListColumns" />
    FROM status_report sr
    LEFT OUTER JOIN users sr_cbu ON sr_cbu.user_pk = sr.created_by_fk
    LEFT OUTER JOIN users sr_lubu ON sr_lubu.user_pk = sr.last_updated_by_fk
    LEFT OUTER JOIN contract c ON c.contract_pk = sr.contract_fk
    LEFT OUTER JOIN (
      organization o 
      LEFT OUTER JOIN users cbu ON cbu.user_pk = o.created_by_fk
      LEFT OUTER JOIN users lubu ON lubu.user_pk = o.last_updated_by_fk
    ) ON o.organization_pk = sr.organization_fk
    LEFT OUTER JOIN organization co ON co.organization_pk = sr.contractor_org_fk
    LEFT OUTER JOIN (
      status_report_contract_join srcj
      INNER JOIN contract clist ON clist.contract_pk = srcj.contract_fk
    ) ON sr.status_report_pk = srcj.status_report_fk
  </sql>

  <select id="getAll" resultMap="statusReportResult">
    <include refid="baseSelect"/>
  </select>

  <select id="getById" resultMap="statusReportResult">
    <include refid="baseSelect"/>
    WHERE status_report_pk = #{id}
  </select>


  <insert id="insert" useGeneratedKeys="true" parameterType="StatusReport">
    INSERT INTO status_report (
      status_report_type_code,
      project_name,
      contract_fk,
      report_start_date,
      report_end_date,
      organization_fk,
      contractor_org_fk,
      name,
      project_manager,
      contracting_officer_cotr,
      contracting_officer_cor,
      objective,
      summary,
      created_by_fk,
      created_date,
      last_updated_by_fk,
      last_updated_date,
      deleted
    )
    VALUES (
      #{statusReportTypeCode},
      #{projectName},
      #{contractFk},
      #{reportStartDateSql},
      #{reportEndDateSql},
      #{organizationFk},
      #{contractorOrgFk},
      #{name},
      #{projectManager},
      #{contractingOfficerCotr},
      #{contractingOfficerCor},
      #{objective},
      #{summary},
      #{createdByFk},
      datetime('now', 'localtime'),
      #{lastUpdatedByFk},
      datetime('now', 'localtime'),
      0
    )
  </insert>

  <update id="update" parameterType="StatusReport">
    UPDATE status_report SET
      status_report_type_code = #{statusReportTypeCode},
      project_name = #{projectName},
      contract_fk = #{contractFk},
      report_start_date = #{reportStartDateSql},
      report_end_date = #{reportEndDateSql},
      organization_fk = #{organizationFk},
      contractor_org_fk = #{contractorOrgFk},
      name = #{name},
      project_manager = #{projectManager},
      contracting_officer_cotr = #{contractingOfficerCotr},
      contracting_officer_cor = #{contractingOfficerCor},
      objective = #{objective},
      summary = #{summary},
      last_updated_by_fk = #{lastUpdatedByFk},
      last_updated_date = datetime('now', 'localtime')
    WHERE status_report_pk = #{id}
  </update>

  <update id="deleteById">
    UPDATE status_report SET deleted = 1
    WHERE status_report_pk = #{id}
  </update>

  <!-- Status Report and Contract join methods -->
  <insert id="insertContractJoin">
    INSERT INTO status_report_contract_join (status_report_fk, contract_fk)
    VALUES (#{statusReportFk}, #{contractFk})
  </insert>

  <delete id="deleteContractJoin">
    DELETE FROM status_report_contract_join
    WHERE status_report_fk = #{statusReportFk}
    AND contract_fk = #{contractFk}
  </delete>
</mapper>

